* {
  background-color: lightgrey;
}

h1 {
  color: darkred;
  text-align: center;
}

.abs {
  padding: 10px;
  margin: 10px;
  align-content: center;
  font-style: italic;
}

#submit {
  height: 50px;
  width: 100px;
  background-color: darkolivegreen;
  font-size: 100%;
}
